resource "proxmox_vm_qemu" "{{ inventory_hostname_short }}" {
    name = "{{ inventory_hostname_short }}"
    target_node = "{{ proxmox_node }}"
    clone = "template-geek-cookbook-{{ proxmox_node }}"
    os_type = "cloud-init"
    ipconfig0 = "ip={{ ansible_host }}/24,gw={{ proxmox_vlan_gateway }}"  
    nameserver = "1.1.1.1"  
    memory = {{ proxmox_vm_ram }}
    cores = {{ proxmox_vm_cores }}
    ciuser = "{{ admin_ssh_user }}"

    sshkeys = <<EOF
{{ admin_ssh_key }}
EOF
    network {
{% if proxmox_vm_vlan_tag is defined %}        
        tag = {{ proxmox_vm_vlan_tag }}
{% endif %}
        model = "virtio"
        bridge = "{{ proxmox_vm_network_bridge }}"
        macaddr = "{{ mac }}"
    }
    disk {
        storage = "{{ proxmox_storage }}"
        size = "{{ proxmox_vm_disk0_size }}"
        type = "scsi"
    }    
    disk {
        storage = "{{ proxmox_storage }}"
        size = "{{ proxmox_vm_disk1_size }}"
        type = "scsi"
    }          
}

